html{
    background-color: #40E0D0;
    width: 100%;
    height: 100%;
    position: fixed
  }
  
  .estrada1{
    width: 100px;
    height: 3000px;
    background-color: grey;
    position: relative;
    bottom: 10px;
    border: 2px solid black;
    border-top: none;
    border-bottom: none; 
    animation: estrada1 6s linear infinite;
    background-repeat: repeat-y;
  }
  
  .faixa1{
    width: 15px;
    height: 40px;
    background-color: yellow;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 
      0px 60px 0px 0px yellow,
      0px 120px 0px 0px yellow,
      0px 180px 0px 0px yellow,
      0px 240px 0px 0px yellow,
      0px 300px 0px 0px yellow,
      0px 360px 0px 0px yellow,
      0px 420px 0px 0px yellow,
      0px 480px 0px 0px yellow,
      0px 540px 0px 0px yellow,
      0px 600px 0px 0px yellow,
      0px 660px 0px 0px yellow,
      0px 720px 0px 0px yellow,
      0px 780px 0px 0px yellow,
      0px 840px 0px 0px yellow,
      0px 900px 0px 0px yellow,
      0px 960px 0px 0px yellow,
      0px 1020px 0px 0px yellow,
      0px 1080px 0px 0px yellow,
      0px 1140px 0px 0px yellow,
      0px 1200px 0px 0px yellow,
      0px 1260px 0px 0px yellow,
      0px 1320px 0px 0px yellow,
      0px 1380px 0px 0px yellow
      
  }
  
  @keyframes estrada1{
    100%{
      transform: translateY(-500px)
    }
  }
  
  .estrada2{
    width: 100px;
    height: 3000px;
    background-color: grey;
    position: relative;
    left: 1250px;
    bottom: 3010px;
    border: 2px solid black;
    border-top: none;
    border-bottom: none;
    animation: estrada2 6s linear infinite;
    background-repeat: repeat-y;
    animation-direction: reverse;
   
    
  }
  
  .faixa2{
    width:15px;
    height: 40px;
    background-color: yellow;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 
      0px 60px 0px 0px yellow,
      0px 120px 0px 0px yellow,
      0px 180px 0px 0px yellow,
      0px 240px 0px 0px yellow,
      0px 300px 0px 0px yellow,
      0px 360px 0px 0px yellow,
      0px 420px 0px 0px yellow,
      0px 480px 0px 0px yellow,
      0px 540px 0px 0px yellow,
      0px 600px 0px 0px yellow,
      0px 660px 0px 0px yellow,
      0px 720px 0px 0px yellow,
      0px 780px 0px 0px yellow,
      0px 840px 0px 0px yellow,
      0px 900px 0px 0px yellow,
      0px 960px 0px 0px yellow,
      0px 1020px 0px 0px yellow,
      0px 1080px 0px 0px yellow,
      0px 1140px 0px 0px yellow,
      0px 1200px 0px 0px yellow,
      0px 1260px 0px 0px yellow,
      0px 1320px 0px 0px yellow,
      0px 1380px 0px 0px yellow
      
  }
  
  
  
  @keyframes estrada2{
    100%{
      transform: translateY(-500px)
    }
  }
    
    
  .celular{
    width: 240px;
    height: 500px;
    padding: 50px 1em;
    margin: 0 auto;
    position: relative;
    bottom: 6000px;
    border: 10px solid #4F4F4F;
    border-top-width: 2em;
    border-bottom-width: 2em;
    border-top-left-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    background-image: url("https://miro.medium.com/max/4064/1*qYUvh-EtES8dtgKiBRiLsA.png");
    background-size: cover;
    background-position: center;
    z-index:1;
    cursor: pointer;
    
  }
  
  .form{
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    
    
  }
  
  .form input{
    width: 100%;
    height: 100%;
    
    border: 1px solid black;
    background-color: #FF69B4;
    font-family: cursive;
    font-weight: bolder;
    font-size: 1.4em;
    
  }
  
  
  .tempo{
    position: absolute;
    bottom:528px;
    right:0px;
   
    transform: translate(-50% -50%);
    width: 100%
  }
  
  .tempo input{
    width: 100%;
    height: 100%;
    position:relative;
    top:0;
    border: 1px solid black;
    background-color: #FF69B4;
    font-family: cursive;
    font-weight: bolder;
    font-size: 1.4em;
  }
  
  ::-webkit-input-placeholder {
     color: black;
  }
  
  button{
    position: relative;
    top: 481px;
    right: 16px;
    
    background-color: #8A2BE2;
    color: white;
    
    height: 40px;
    width: 272px;
    padding: 1.4em;
    font-size: 1.4em;
    font-family: cursive;
    font-weight: bolder;
    
    border: solid;
    border-color: #8A2BE2;
    
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0.4;
    
    cursor: pointer;
    
  }